# .dockerignore
node_modules
.next
npm-debug.log
README.md
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Docker specific files
Dockerfile
.dockerignore

# Git files
.git
.gitignore

# Editor/IDE specific
.vscode
*.swp
